<!DOCTYPE html>
<html lang="en">
<%- include("./../layout/Head.ejs", {title: "Group manager"}) %>
<body>
    <div class="container">
        <%- include('./../layout/MyNavbar.ejs') %>

    </div>
</body>
</html>