<!DOCTYPE html>
<html lang="en">
    <%- include ("./../layout/Head.ejs", {title: "User list"}) %>
<body>
    <div class="container">
        <%- include ("./../layout/MyNavbar.ejs") %>
        <div class="card mt-2">
            <div class="card-header">
                Add new user
            </div>
            <div class="card-body">
                <form method="post" action="/users/store">
                    <div class="mb-3">
                        <label for="" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Phone</label>
                      <input type="text" name="phone" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">City</label>
                        <input type="text" name="city" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Money</label>
                        <input type="number" name="money" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Group</label>
                        <select name="group_id" id="" class="form-select">
                            <% groups.forEach((group) => { %>
                                <option value="<%= group.id %>"><%= group.name %></option>
                            <% }) %>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>